In [1]:
from pathlib import Path
import duckdb
import pandas as pd

REPO_ROOT = Path(r"C:\Dev\youtube-trending-app")  # adjust if needed
DB_PATH = REPO_ROOT / "data" / "processed" / "trending.duckdb"

con = duckdb.connect(str(DB_PATH), read_only=True)

def q(sql, params=None):
    return con.execute(sql, params or []).df()

q("SELECT 1 AS ok")

   ok
0   1

In [13]:
import pandas as pd

pd.set_option("display.max_columns", None)      # show all columns
pd.set_option("display.width", 200)             # wider output
pd.set_option("display.max_colwidth", 80)       # limit long text so it doesn't explode
pd.set_option("display.expand_frame_repr", False)

In [5]:
q("""
SELECT
  count(*) AS rows,
  count(DISTINCT video_id) AS distinct_videos,
  count(DISTINCT channel_id) AS distinct_channels,
  count(DISTINCT video_trending_country) AS countries,
  min(video_trending_date) AS min_date,
  max(video_trending_date) AS max_date
FROM trending
WHERE video_trending_date IS NOT NULL;
""")

,rows,distinct_videos,distinct_channels,countries,min_date,max_date
0,7614272,692565,100419,110,2024-10-12,2026-01-31

Top 20 countries by volume

In [6]:
q("""
SELECT video_trending_country, count(*) AS rows
FROM trending
WHERE video_trending_date IS NOT NULL
GROUP BY 1
ORDER BY rows DESC
LIMIT 20;
""")

   video_trending_country   rows
0                 Austria  94796
1                   Japan  94794
2             South Korea  94793
3                  Mexico  94792
4               Australia  94792
5                  Canada  94790
6                 Germany  94790
7                  Brazil  94790
8          United Kingdom  94787
9           United States  94787
10       Papua New Guinea  94786
11                 France  94779
12              Argentina  94764
13              Indonesia  94637
14                   Peru  94540
15                  Chile  94518
16                Algeria  94495
17               Colombia  94407
18                Ecuador  93987
19                Morocco  92819

Date range per country (uses your view)

In [7]:
q("""
SELECT *
FROM v_available_dates
ORDER BY rows DESC
LIMIT 20;
""")

   video_trending_country   min_date   max_date   rows
0                 Austria 2024-10-12 2026-01-31  94796
1                   Japan 2024-10-12 2026-01-31  94794
2             South Korea 2024-10-12 2026-01-31  94793
3                  Mexico 2024-10-12 2026-01-31  94792
4               Australia 2024-10-12 2026-01-31  94792
5                  Brazil 2024-10-12 2026-01-31  94790
6                  Canada 2024-10-12 2026-01-31  94790
7                 Germany 2024-10-12 2026-01-31  94790
8          United Kingdom 2024-10-12 2026-01-31  94787
9           United States 2024-10-12 2026-01-31  94787
10       Papua New Guinea 2024-10-12 2026-01-31  94786
11                 France 2024-10-12 2026-01-31  94779
12              Argentina 2024-10-12 2026-01-31  94764
13              Indonesia 2024-10-12 2026-01-31  94637
14                   Peru 2024-10-12 2026-01-31  94540
15                  Chile 2024-10-12 2026-01-31  94518
16                Algeria 2024-10-12 2026-01-31  94495
17               Colombia 2024-10-12 2026-01-31  94407
18                Ecuador 2024-10-12 2026-01-31  93987
19                Morocco 2024-10-12 2026-01-31  92819

Cell 5 ‚Äî Missingness snapshot (important fields)

In [8]:
q("""
SELECT
  round(100.0 * avg(CAST(video_tags IS NULL AS INT)), 2) AS pct_video_tags_null,
  round(100.0 * avg(CAST(video_description IS NULL AS INT)), 2) AS pct_video_desc_null,
  round(100.0 * avg(CAST(channel_country IS NULL AS INT)), 2) AS pct_channel_country_null,
  round(100.0 * avg(CAST(video_like_count IS NULL AS INT)), 2) AS pct_like_null,
  round(100.0 * avg(CAST(video_comment_count IS NULL AS INT)), 2) AS pct_comment_null
FROM trending;
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,pct_video_tags_null,pct_video_desc_null,pct_channel_country_null,pct_like_null,pct_comment_null
0,27.7,9.79,17.8,0.95,0.58

In [9]:
q("""
SELECT
  count(*) AS rows,
  sum(CAST(video_trending_date IS NULL AS INT)) AS null_trending_date_rows
FROM trending;
""")

      rows  null_trending_date_rows
0  7614272                      0.0

Find countries that have any NULL dates (data corruption check)

In [3]:
q("""SELECT video_trending_country, count(*) AS rows
FROM trending
WHERE video_trending_date IS NULL
GROUP BY 1
ORDER BY rows DESC;
""")

Empty DataFrame
Columns: [video_trending_country, rows]
Index: []

How many columns? What are the column names?

In [10]:
q("PRAGMA table_info('trending');")

,cid,name,type,notnull,dflt_value,pk
0,0,video_id,VARCHAR,False,None,False
1,1,video_published_at,TIMESTAMP WITH TIME ZONE,False,None,False
2,2,video_trending_date,DATE,False,None,False
3,3,video_trending_country,VARCHAR,False,None,False
4,4,channel_id,VARCHAR,False,None,False
5,5,video_title,VARCHAR,False,None,False
6,6,video_description,VARCHAR,False,None,False
7,7,video_default_thumbnail,VARCHAR,False,None,False
8,8,video_category_id,INTEGER,False,None,False
9,9,video_tags,VARCHAR,False,None,False
10,10,video_duration,VARCHAR,False,None,False
11,11,video_dimension,VARCHAR,False,None,False
12,12,video_definition,VARCHAR,False,None,False
13,13,video_licensed_content,VARCHAR,False,None,False
14,14,video_view_count,BIGINT,False,None,False
15,15,video_like_count,BIGINT,False,None,False
16,16,video_comment_count,BIGINT,False,None,False
17,17,channel_title,VARCHAR,False,None,False
18,18,channel_description,VARCHAR,False,None,False
19,19,channel_custom_url,VARCHAR,False,None,False
20,20,channel_published_at,TIMESTAMP WITH TIME ZONE,False,None,False
21,21,channel_country,VARCHAR,False,None,False
22,22,channel_view_count,BIGINT,False,None,False
23,23,channel_subscriber_count,BIGINT,False,None,False
24,24,channel_have_hidden_subscribers,BOOLEAN,False,None,False
25,25,channel_video_count,BIGINT,False,None,False
26,26,channel_localized_title,VARCHAR,False,None,False
27,27,channel_localized_description,VARCHAR,False,None,False

In [14]:
q("""
SELECT *
FROM trending
LIMIT 5;
""")

      video_id        video_published_at video_trending_date video_trending_country                channel_id                                                                      video_title                                                                video_description                         video_default_thumbnail  video_category_id                                                                       video_tags video_duration video_dimension video_definition video_licensed_content  video_view_count  video_like_count  video_comment_count            channel_title                                                              channel_description          channel_custom_url             channel_published_at channel_country  channel_view_count  channel_subscriber_count  channel_have_hidden_subscribers  channel_video_count  channel_localized_title                                                    channel_localized_description
0  bB3-CUMERIU 2024-10-10 20:00:06-04:00          2024-10-12   United Arab Emirates  UCNYi_zGmR519r5gYdOKLTjQ                                           JENNIE - Mantra (Official Music Video)  Official music video for ‚ÄúMantra‚Äù by JENNIE out now: https://jennie.lnk.to/m...  https://i.ytimg.com/vi/bB3-CUMERIU/default.jpg               <NA>  JENNIE,Mantra,Ï†úÎãà,Jennie Mantra,Jennie from Blackpink,Blackpink,dance,dancer,...        PT2M28S              2d               hd                  False          20535235           2042255               152933                   JENNIE                                                                              NaN             @jennierubyjane 2021-01-13 01:19:55.866890-05:00             NaN           464615150                  11600000                            False                   43                   JENNIE                                                                              NaN
1  5ObJt_71AYc 2024-10-10 22:59:21-04:00          2024-10-12   United Arab Emirates  UCzU8-lZlRfkV3nj0RzAZdrQ         CHILE vs. BRASIL [1-2] | RESUMEN | ELIMINATORIAS SUDAMERICANAS | FECHA 9  #Chile #Brasil #eliminatoriassudamericanas #CreeEnGrande #CONMEBOL \n\n‚≠êüáßüá∑ V...  https://i.ytimg.com/vi/5ObJt_71AYc/default.jpg               <NA>  f√∫tbol,pelota,gol,copa,libertadores,sudamericana,eliminatorias,mundial,conme...        PT10M8S              2d               hd                   True           3966042              <NA>                 2549                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...                   @conmebol        2014-02-19 15:24:31-05:00             NaN           399046746                   1610000                            False                 4637                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...
2  zfb0whgBBA8 2024-10-11 07:07:25-04:00          2024-10-12   United Arab Emirates  UCgGYPnVJytkr6sVNLQ-l0zQ                                          ÿ™ÿ≠ÿØŸä ÿßŸÑÿ≠ŸÇŸäÿ®ÿ© ŸÖÿπ ÿßÿ®Ÿà ÿπÿ®Ÿäÿ± üî• | ÿ≥ŸÑÿ≥ŸÑÿ™ŸÜÿß #2  1,375,547 ŸÖÿ¥ÿ™ÿ±ŸÉ‚ù§Ô∏è\n\nŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄ...  https://i.ytimg.com/vi/zfb0whgBBA8/default.jpg               <NA>  ÿ™ÿ¥ŸÉŸäŸÑŸá,ŸÅŸäŸÅÿß,ŸÅŸäŸÅÿß20,ÿßŸÑÿ™ŸÖÿ™,ÿØÿ±ÿßŸÅÿ™,ÿ≤ŸÑÿßÿ™ÿßŸÜ,ÿßŸÖ,ÿ¨Ÿä,ŸÖŸÑÿ™Ÿä,ÿ¨ŸäŸÖÿ±ÿ≤,ŸÑÿßÿ™ŸäŸÜŸä,ÿ™ÿ±ÿßŸÖÿ®,ŸÉŸàÿ±ÿ©,ŸÇÿØŸÖ...       PT43M24S              2d               hd                   True            853167            101155                10541             LLE ÿπÿ®ÿØÿßŸÑÿßŸÑŸá                                           ÿµÿßŸÜÿπ ŸÖÿ≠ÿ™ŸàŸâ ŸàÿßŸÜÿ≤ŸÑ ŸÖŸÇÿßÿ∑ÿπ ÿ®ÿ¥ŸÉŸÑ ÿ∫Ÿäÿ± ŸÖŸÜÿ∏ŸÖ üåö                    @mrlle99        2012-08-01 12:24:26-04:00    Saudi Arabia           114331110                   1380000                            False                  314             LLE ÿπÿ®ÿØÿßŸÑÿßŸÑŸá                                           ÿµÿßŸÜÿπ ŸÖÿ≠ÿ™ŸàŸâ ŸàÿßŸÜÿ≤ŸÑ ŸÖŸÇÿßÿ∑ÿπ ÿ®ÿ¥ŸÉŸÑ ÿ∫Ÿäÿ± ŸÖŸÜÿ∏ŸÖ üåö
3  SJfoPdeOPCQ 2024-10-10 20:10:10-04:00          2024-10-12   United Arab Emirates  UCzU8-lZlRfkV3nj0RzAZdrQ  VENEZUELA vs. ARGENTINA [1-1] | RESUMEN | ELIMINATORIAS SUDAMERICANAS | FECHA 9  #Venezuela #Argentina #eliminatoriassudamericanas #CreeEnGrande #CONMEBOL \n...  https://i.ytimg.com/vi/SJfoPdeOPCQ/default.jpg               <NA>  f√∫tbol,pelota,gol,copa,libertadores,sudamericana,eliminatorias,mundial,conme...        PT10M9S              2d               hd                   True           3758707              <NA>                 3115                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...                   @conmebol        2014-02-19 15:24:31-05:00             NaN           399046746                   1610000                            False                 4637                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...
4  UVb6QOKy0bI 2024-10-09 08:30:27-04:00          2024-10-12   United Arab Emirates  UCOzubmwpVZI7gD0Jf7Bk3Aw  Bougainvillea Trailer | October 17 | Jyothirmayi | Kunchacko Boban | Amal Ne...  Presenting The Official Trailer of Bougainvillea Directed by Amal Neerad\n\n...  https://i.ytimg.com/vi/UVb6QOKy0bI/default.jpg               <NA>                                                                              NaN        PT2M12S              2d               hd                   True           1730189             67522                 2869  Amal Neerad Productions                            Official YouTube Channel Of Amal Neerad Productions .  @amalneeradproductions5264        2017-05-31 10:31:01-04:00             NaN            19991522                     40600                            False                   56  Amal Neerad Productions                            Official YouTube Channel Of Amal Neerad Productions .

Daily volume sanity (should be ~200/day/country)

In [15]:
q("""
SELECT video_trending_country, video_trending_date, count(*) AS rows_that_day
FROM trending
GROUP BY 1,2
ORDER BY rows_that_day DESC
LIMIT 20;
""")

   video_trending_country video_trending_date  rows_that_day
0                  Brazil          2025-02-06            200
1                Colombia          2025-02-10            200
2                 Algeria          2025-05-02            200
3                Colombia          2025-02-08            200
4               Australia          2025-04-28            200
5                 Morocco          2025-02-07            200
6                 Austria          2025-05-02            200
7                Colombia          2025-02-11            200
8                 Bolivia          2025-05-01            200
9                Colombia          2025-02-12            200
10          United States          2025-05-02            200
11                   Peru          2025-02-05            200
12                 Brazil          2025-02-09            200
13                 Canada          2025-02-07            200
14                  Japan          2025-05-02            200
15              Argentina          2025-02-05            200
16           Saudi Arabia          2025-04-30            200
17              Indonesia          2025-02-09            200
18                  Chile          2025-05-01            200
19              Australia          2025-05-04            200

Days trended‚Äù distribution (stickiness)

In [16]:
q("""
WITH per_video_country AS (
  SELECT video_id, video_trending_country, count(DISTINCT video_trending_date) AS days_trended
  FROM trending
  GROUP BY 1,2
)
SELECT
  approx_quantile(days_trended, 0.50) AS p50,
  approx_quantile(days_trended, 0.90) AS p90,
  approx_quantile(days_trended, 0.99) AS p99,
  max(days_trended) AS max_days
FROM per_video_country;
""")

   p50  p90  p99  max_days
0    2   13   34        37

Global reach (how many countries a video trends in)

In [17]:
q("""
WITH per_video AS (
  SELECT video_id, count(DISTINCT video_trending_country) AS countries
  FROM trending
  GROUP BY 1
)
SELECT
  approx_quantile(countries, 0.50) AS p50,
  approx_quantile(countries, 0.90) AS p90,
  approx_quantile(countries, 0.99) AS p99,
  max(countries) AS max_countries
FROM per_video;
""")

   p50  p90  p99  max_countries
0    1    5   18            108

find the ‚Äúmost global‚Äù videos

In [18]:
q("""
SELECT
  video_id,
  max(video_title) AS video_title,
  max(channel_title) AS channel_title,
  count(DISTINCT video_trending_country) AS countries
FROM trending
GROUP BY 1
ORDER BY countries DESC
LIMIT 20;
""")

       video_id                                                      video_title      channel_title  countries
0   XRgOPWisuog                                            EXTREME SHARK GAME!!!              Sylex        108
1   CgCVZdcKcqY                                       BLACKPINK - ‚ÄòÎõ∞Ïñ¥(JUMP)‚Äô M/V          BLACKPINK        108
2   zs7ISrSdVUI   Ellie Goulding - Love Me Like You Do (Lyrics Cover) | Pop Mage           Pop Mage        106
3   k2hXVxvZP7E        REAL MADRID 2 - 1 FC BARCELONA | RESUMEN LALIGA EA SPORTS   LALIGA EA SPORTS        106
4   zPbrkmdcTfo                1000 Players Simulate Civilization: Boys vs Girls     MrBeast Gaming        105
5   zEzyD5oszwM                                       skibidi toilet 79 (part 2)       DaFuq!?Boom!        105
6   DWCl2dN6hpg                                             1 Pro vs 500 Hunters     MrBeast Gaming        105
7   npNmyb-qqGw                                  Survive 1000 Days, Win $100,000     MrBeast Gaming        104
8   NED7nev2ywQ                                           Stray Kids "Do It" M/V  JYP Entertainment        103
9   qTMKHZelGAs                                   We Built New York In Minecraft     MrBeast Gaming        102
10  Ntp522Cad-s               REAL MADRID 0 - 2 CELTA | RESUMEN LALIGA EA SPORTS   LALIGA EA SPORTS        102
11  d-BDeU3R5ic                THE GAME AWARDS 2025: Official 4K60FPS Livestream      thegameawards        101
12  BeaVJggQ2dc                          Race Highlights | 2025 Qatar Grand Prix          FORMULA 1        101
13  pe_ejTiIcSs                                      Lose 100 LBs, Win $250,000!            MrBeast        101
14  1Vg00spYj2g                        100 Youtubers Vs World's Deadliest Player     MrBeast Gaming        101
15  2FE7pOBbRn8                                    We Built America in Minecraft     MrBeast Gaming        100
16  Aja2KfuoqGA      Jake Paul vs. Mike Tyson FIGHT HIGHLIGHTS ü•ä | ESPN Ringside               ESPN        100
17  P7vBoGWoReg                                        Stray Kids "CEREMONY" M/V  JYP Entertainment        100
18  JIRqdeNl2cU                          Race Highlights | 2025 Dutch Grand Prix          FORMULA 1         99
19  RYI-WG_HFV8  JUJUTSU KAISEN The Culling Game | Official Teaser | Crunchyroll        Crunchyroll         99

stickiest in a country

In [20]:
q("""
WITH pvc AS (
  SELECT
    video_id,
    video_trending_country,
    count(DISTINCT video_trending_date) AS days_trended
  FROM trending
  GROUP BY 1,2
)
SELECT
  pvc.video_trending_country,
  pvc.video_id,
  ANY_VALUE(t.video_title) AS video_title,
  ANY_VALUE(t.channel_title) AS channel_title,
  pvc.days_trended
FROM pvc
JOIN trending t
  ON t.video_id = pvc.video_id
 AND t.video_trending_country = pvc.video_trending_country
GROUP BY
  pvc.video_trending_country,
  pvc.video_id,
  pvc.days_trended
ORDER BY pvc.days_trended DESC
LIMIT 20;
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

   video_trending_country     video_id                                                                      video_title                      channel_title  days_trended
0                 Romania  b1cXgCFOiaE                     Tzanca Uraganu ‚ùå Costel Biju - Meneaito [video oficial] 2025                     Tzanca Uraganu            37
1               Hong Kong  Ox29z5Nf1Uk  [#2024MAMA] G-DRAGON - Î¨¥Ï†ú(Untitled, 2014)+POWER+HOME SWEET HOME+Î±ÖÎ±ÖÎ±Ö+FANTASTI...                         Mnet K-POP            37
2                   Egypt  Nern2ReRazc                                              ÿ™ÿ≠ÿØŸä ÿßÿ≠ÿ≤ÿ± ÿßŸÑÿ™Ÿàÿ£ŸÖ ÿßŸÑÿ≠ŸÇŸäŸÇŸäü§îŸÖÿπ ÿßŸÑÿ™ŸàŸäŸÜÿ≤                   TRIPLEZ - ÿ™ÿ±Ÿäÿ®ŸÑÿ≤            37
3            Saudi Arabia  rA3-rEdQ8Wo                                              24 ÿ≥ÿßÿπŸá ÿ®ÿØŸàŸÜ ÿ¨ŸàÿßŸÑ üìµ( ÿ£ÿ®Ÿáÿß ÿßŸÑÿ®ŸáŸäŸá üòç)                               RAED            37
4                 Bolivia  9fQ0tP6aOks                                         ¬°LE VOY A DAR UNA SORPRESA A MI FAMILIA!                           SKabeche            37
5      Dominican Republic  vWRmfW9VMAU          Modificamos el SUPRA de R√°pidos y Furiosos en 24 HORAS | Kenyi Nakamura                     Kenyi Nakamura            37
6                    Peru  P4YLOdr6e7U              BLESSD X NACIONAL OFICIAL | HIMNO DE LA GRANDEZA üíöü§ç (VIDEO OFICIAL)                BLESSD EL BENDITO üíô            37
7                 Iceland  x-I8ZHfwV9Q                                           I Spent $10,000 Buying Expensive Games                          LazarBeam            37
8      Dominican Republic  cY8B1wWtRm8                                DONATY x BRAULIO FOGON - TAMBOREO (VIDEO OFICIAL)                             Donaty            37
9                  Panama  ueaIQkxrAmY                               ROBANDO COCHES del CHAVO del 8 en GTA 5! üöòüß¢ (Mods)                     E-MasterSensei            37
10              Lithuania  cZgUiR31m-Y                                                sombr - 12 to 12 (official video)                              sombr            37
11               Zimbabwe  s7h68f6CFNg                         Prince Chigwida - Ndiringei Mambo [Official Music Video]                    Prince Chigwida            37
12                  Ghana  zr8XVbDiFsk                      Tommy Lee Sparta , Trippie Redd - Murderer (Official Video)                 TommyLeeSpartaVEVO            37
13            New Zealand  J3LkpLD_GAQ            Duniya (Official Video) - Sikandar X Gulab Sidhu | Punjabi Songs 2025                       Humble Music            37
14               Slovakia  TvVtYaqCni8                 LE SSERAFIM (Î•¥ÏÑ∏ÎùºÌïå) 'SPAGHETTI (feat. j-hope of BTS)' OFFICIAL MV                        HYBE LABELS            37
15                 Jordan  PssKpzB0Ah0                                   Stranger Things 5 | Official Trailer | Netflix                            Netflix            37
16                Tunisia  BPJNuMnES4c                              Simba La Rue - PICASSO feat. 3robi (Official Video)                       Simba La Rue            37
17                 Jordan  5cm7RDTVs0Q                                                                  ÿßÿ¥ÿ™ŸÇÿ™ ŸÑÿ¨ÿØÿ™Ÿä !!!  The wonder roby (‚Ä´ÿ±Ÿàÿ®Ÿä ÿßŸÑÿÆÿßÿ±ŸÇŸá‚Ä¨‚Äé)            37
18                Ireland  Llss1aRo8tw  Karuppu (Tamil) - Teaser | Suriya | RJB | Trisha | @SaiAbhyankkar | Dream Wa...                  Think Music India            37
19            Puerto Rico  auNp1LpGrLI                                                        MRSTIVEN VS 33 MUJERES ‚ù§Ô∏è                            lebriah            37

Confirm what ‚ÄúUS only‚Äù actually covers

In [2]:
q("""
SELECT
  count(*) AS rows,
  count(DISTINCT video_id) AS distinct_videos,
  min(video_trending_date) AS min_date,
  max(video_trending_date) AS max_date
FROM trending
WHERE video_trending_country = 'United States';
""")

    rows  distinct_videos   min_date   max_date
0  94787            39767 2024-10-12 2026-01-31

Tag availability in US (NULL vs empty vs ‚Äú[none]‚Äù)

In [3]:
q("""
SELECT
  round(100.0 * avg(CASE WHEN video_tags IS NULL THEN 1 ELSE 0 END), 2) AS pct_null,
  round(100.0 * avg(CASE WHEN video_tags IS NOT NULL AND trim(video_tags) = '' THEN 1 ELSE 0 END), 2) AS pct_empty_string,
  round(100.0 * avg(CASE WHEN lower(trim(coalesce(video_tags,''))) IN ('[none]','none','nan','null') THEN 1 ELSE 0 END), 2) AS pct_none_like,
  round(100.0 * avg(CASE WHEN video_tags IS NOT NULL AND trim(video_tags) <> '' AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null') THEN 1 ELSE 0 END), 2) AS pct_usable
FROM trending
WHERE video_trending_country = 'United States';
""")

   pct_null  pct_empty_string  pct_none_like  pct_usable
0     21.16               0.0            0.0       78.84

Check tag formatting (what delimiter, any weird patterns)

In [4]:
q("""
SELECT video_tags
FROM trending
WHERE video_trending_country='United States'
  AND video_tags IS NOT NULL
  AND trim(video_tags) <> ''
LIMIT 30;
""")

                                           video_tags
0   Latto Panties,Latto Big Mama,Latto Birthday So...
1   Shakira 2024,Shakira letra,Shakira lyrics,Shak...
2   GloRilla,Sexyy Red,CMG/Interscope Records,Hip Hop
3   yt:cc=on,fortnite,fortnitemares,halloween,october
4                                         Haminations
5   JENNIE,Mantra,Ï†úÎãà,Jennie Mantra,Jennie from Bla...
6   glitch,glitch productions,digital circus,the a...
7   jesser,basketball,aau,aau tournament,aau tourn...
8   VISHWAMBHARA Official Teaser,Megastar Chiranje...
9   roblox,mangopool,xdemon,stud,goobers,roblox si...
10  WWE,WWE Smackdown,WWE Smackdown Highlights,WWE...
11  Destiny 2,Destiny 2 Vesper's Host,Destiny 2 Ve...
12  CNET,Technology,tech,tesla,elon,elon musk,robo...
13                #brittanybroski #broski #royalcourt
14  tesla,model s,model x,model 3,elon musk,AI,Art...
15  solarballs,solarball,cosmos,scifi,sci fi,space...
16  Jelly Roll,„Ç∏„Çß„É™„Éº„É≠„Éº„É´,JELLY ROLL,Skylar Grey,„Çπ„Ç´„Ç§„É©...
17  mlb,baseball,sports,mlb highlights,sports high...
18  Aphmau,Roblox,Roblox funny,Roblox games,Roblox...
19  ABC,ABC News,Coast Guard,Florida,Helene,Hurric...
20  Top Gear,tesla,tesla robotaxi,robotaxi,tesla r...
21  USMNT,US Soccer,Soccer,United States Men's Nat...
22  rod wave,ghetto gospel,kevin gates,soulfly,sou...
23  the weather channel,north texas weather,north ...
24  weather,video,kdfw,fox 4,milton death toll,mil...
25  Î∞©ÌÉÑÏÜåÎÖÑÎã®,BTS,BANGTAN,ÏïåÏó†,RM,ÏäàÍ∞Ä,SUGA,Ï†úÏù¥Ìôâ,jhope,ÏßÄÎØº,Ï†ï...
26  fortnite,fortnite chapter 5 season 4,chapter 5...
27  XG,XGALX,GRL GVNG,SHOOTING STAR,LEFT RIGHT,MAS...
28  lil durk,lil durk music,lil durk music video,j...
29  dax,lonely dirt road,dax lonely dirt road,offi...

In [5]:
q("""
SELECT
  round(100.0 * avg(CASE WHEN video_tags LIKE '%|%' THEN 1 ELSE 0 END), 2) AS pct_contains_pipe,
  round(100.0 * avg(CASE WHEN video_tags LIKE '%#%' THEN 1 ELSE 0 END), 2) AS pct_contains_hashtag,
  round(avg(length(video_tags)), 1) AS avg_len,
  max(length(video_tags)) AS max_len
FROM trending
WHERE video_trending_country='United States'
  AND video_tags IS NOT NULL
  AND trim(video_tags) <> '';
""")

   pct_contains_pipe  pct_contains_hashtag  avg_len  max_len
0               0.33                  1.89    239.5      499

How many tags per row? (distribution)

In [6]:
q("""
WITH us AS (
  SELECT
    CASE
      WHEN video_tags IS NULL OR trim(video_tags)='' OR lower(trim(video_tags)) IN ('[none]','none','nan','null')
      THEN NULL
      ELSE array_length(string_split(video_tags, '|'))
    END AS tag_count
  FROM trending
  WHERE video_trending_country='United States'
)
SELECT
  approx_quantile(tag_count, 0.50) AS p50,
  approx_quantile(tag_count, 0.90) AS p90,
  approx_quantile(tag_count, 0.99) AS p99,
  max(tag_count) AS max_tags
FROM us
WHERE tag_count IS NOT NULL;
""")

   p50  p90  p99  max_tags
0    1    1    1         7

Explode tags and find top tags (US)

In [7]:
q("""
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
tags AS (
  SELECT
    video_id,
    video_trending_date,
    lower(trim(regexp_replace(tag, '^"|"$', ''))) AS tag
  FROM base,
  UNNEST(string_split(video_tags, '|')) AS t(tag)
)
SELECT
  tag,
  count(*) AS appearances,
  count(DISTINCT video_id) AS distinct_videos,
  count(DISTINCT video_trending_date) AS distinct_days
FROM tags
WHERE tag <> ''
GROUP BY 1
ORDER BY distinct_videos DESC
LIMIT 50;
""")

,tag,appearances,distinct_videos,distinct_days
0,"roblox,brookhaven,funnyroblox,techyblox,techy,...",247,236,187
1,"aphmau,minecraft,minecraft funny,minecraft mod...",185,180,185
2,"tee grizzley gta 5,tee grizzley,tee grizzley g...",174,173,174
3,"gaming,caseoh,caseohgames,case,funny,streamer,...",166,156,166
4,"lets play,walkthrough,gameplay,egoraptor,danny...",148,147,148
5,"las vegas,vegas,gamble,handpay,slot machine,wi...",145,137,145
6,joebartolozzi,156,135,156
7,"techy,techycrew,among us,fortnite,fortnite cre...",141,127,141
8,"cash,nico,nico and cash,cash and nico,minecraf...",170,123,168
9,mmg,169,119,169
10,"cart0onz,cartoonz,cartoons,funny moments,let's...",116,115,116
11,"asmongold,asmongold reacts,asmongold wow,asmon...",146,113,146
12,"ludwig,ludwigahgren,ahgren,gaming,chat,stream,...",164,108,152
13,"funny,escape from tarkov,tarkov",106,95,106
14,"steal a brainrot giveaway,steal a brainrot giv...",94,90,84
15,"timthetatman,tatmanarmy,tim,the,tat,man,timthe...",85,85,85
16,"roblox,funnyroblox,techyblox,techy,crazy fan g...",86,83,86
17,"rdc,rdc live,rdc stream,rdc game,rdc play",91,81,91
18,"the sims,ts4,ts3,sims 4,sims 3,fixer upper,lil...",111,79,104
19,"madden,madden,yoboypizza,yoboy pizza,yo boy pi...",80,78,80
20,"lucky chamu,lucky chamu warzone,lucky warzone,...",81,78,81
21,"gara,gara roblox,gara and kylie,garablox,omz,c...",88,70,88
22,"wildcat,i am wildcat,iamwildcat",74,69,74
23,clash royale,69,66,69
24,"funny moments,montage video games,gaming,vanos...",125,66,125
25,"comedy,funny,funny moments,gameplay,soup,snipi...",69,65,69
26,"gothamchess,gothamchess london,gothamchess car...",65,64,65
27,"family,friendly",146,61,146
28,"asmongold,asmongold clips",88,61,88
29,"ea sports college football 25,ncaa football 25...",74,60,74
30,"ludwig,twitch,clips",63,57,63
31,"hybe,hybe labels,ÌïòÏù¥Î∏å,ÌïòÏù¥Î∏åÎ†àÏù¥Î∏îÏ¶à",198,56,166
32,"roblox,techy,techy plays,brookhaven,techyblox,...",61,55,61
33,"minecraft,maizen",88,55,88
34,"nico,cash,zoey,nico and zoey,roblox",60,55,60
35,"bigpuffer,puffer,iambigpuffer,puffer reddit,pu...",50,50,50
36,"gambling,my,entire,paycheck,pay,check,at,the,c...",50,49,50
37,"command,blocks,redstone,phnixhamsta,phoenix,sc...",48,47,48
38,"sidemen,moresidemen,miniminter,ksi,zerkaa,behz...",190,47,185
39,"gta 5,gta online,gta 6,grand theft auto,making...",55,47,55
40,"mmg,mmg reacts,meags,meags reacts,madden mobil...",58,46,58
41,"clash royale,clash,royale,clash royal,best dec...",45,45,45
42,"casino,max bet,handpay,high limit slots,blackj...",44,44,44
43,"lck,lol,league of legends,lol champs,lck globa...",44,43,44
44,"roblox,foltyn,chex,natedagreat,foltyn roblox,f...",52,43,51
45,"nintendo,game,gameplay,fun,video game,action,a...",127,43,112
46,"berleezy,iberleezy,gameplay,walkthrough,lets p...",74,42,68
47,"caedrel,league of legends,lec,streamer,mid,jun...",50,42,50
48,"warzone,live,rafire,hacker,rafire live,warzone...",41,41,41
49,"madden 23 tips,madden 23 best defense,madden 2...",40,40,40

Tag diversity + ‚Äúspammy‚Äù tags check

In [8]:
q("""
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
tags AS (
  SELECT lower(trim(regexp_replace(tag, '^"|"$', ''))) AS tag
  FROM base, UNNEST(string_split(video_tags, '|')) AS t(tag)
)
SELECT
  count(*) AS exploded_rows,
  count(DISTINCT tag) AS unique_tags
FROM tags
WHERE tag <> '';
""")

   exploded_rows  unique_tags
0          75113        20554

In [9]:
q("""
WITH base AS (
  SELECT video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
tags AS (
  SELECT lower(trim(regexp_replace(tag, '^"|"$', ''))) AS tag
  FROM base, UNNEST(string_split(video_tags, '|')) AS t(tag)
)
SELECT
  sum(CASE WHEN length(tag) >= 40 THEN 1 ELSE 0 END) AS tags_len_ge_40,
  sum(CASE WHEN tag LIKE '%http%' THEN 1 ELSE 0 END) AS tags_with_http,
  sum(CASE WHEN tag LIKE '%@%' THEN 1 ELSE 0 END) AS tags_with_at
FROM tags
WHERE tag <> '';
""")

   tags_len_ge_40  tags_with_http  tags_with_at
0         66322.0             1.0          28.0

1) Correct explode logic (split commas + pipes)

In [10]:
tags = q("""
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
exploded AS (
  SELECT
    video_id,
    video_trending_date,
    lower(trim(
      regexp_replace(
        regexp_replace(tag, '^#+', ''),   -- drop leading hashtags
        '^"|"$', ''                      -- drop surrounding quotes
      )
    )) AS tag
  FROM base,
  UNNEST(string_split(replace(video_tags, '|', ','), ',')) AS t(tag)
)
SELECT *
FROM exploded
WHERE tag <> '';
""")
tags.head()

      video_id video_trending_date                 tag
0  3oA8kt8685I          2025-01-28       cheetah thong
1  zW3s9ArVweA          2025-01-28   brett cooper left
2  Nl7aCUsWykg          2025-01-28            tutorial
3  r3TpcHebtxM          2025-01-28  ai premium pricing
4  BOBS4eEAAVs          2025-01-28           freestyle

In [11]:
q("""
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
exploded AS (
  SELECT
    video_id,
    video_trending_date,
    lower(trim(regexp_replace(regexp_replace(tag,'^#+',''),'^"|"$',''))) AS tag
  FROM base,
  UNNEST(string_split(replace(video_tags, '|', ','), ',')) AS t(tag)
  WHERE trim(tag) <> ''
),
counts AS (
  SELECT video_id, video_trending_date, count(*) AS tag_count
  FROM exploded
  WHERE tag <> ''
  GROUP BY 1,2
)
SELECT
  approx_quantile(tag_count, 0.50) AS p50,
  approx_quantile(tag_count, 0.90) AS p90,
  approx_quantile(tag_count, 0.99) AS p99,
  max(tag_count) AS max_tags
FROM counts;
""")

   p50  p90  p99  max_tags
0   16   32   51        91

In [12]:
q("""
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
tags AS (
  SELECT
    video_id,
    video_trending_date,
    lower(trim(regexp_replace(regexp_replace(tag,'^#+',''),'^"|"$',''))) AS tag
  FROM base,
  UNNEST(string_split(replace(video_tags, '|', ','), ',')) AS t(tag)
  WHERE trim(tag) <> ''
)
SELECT
  tag,
  count(*) AS appearances,
  count(DISTINCT video_id) AS distinct_videos,
  count(DISTINCT video_trending_date) AS distinct_days
FROM tags
WHERE tag <> ''
GROUP BY 1
ORDER BY distinct_videos DESC
LIMIT 50;
""")

                        tag  appearances  distinct_videos  distinct_days
0                    roblox         5013             3963            416
1                     funny         4744             2516            474
2                 minecraft         4313             2417            469
3                    gaming         3354             2180            467
4                  gameplay         2228             1424            433
5                      cash         1400             1179            279
6           family friendly         2140             1156            463
7             funny moments         1527             1125            362
8             cash and nico         1191              931            234
9                    comedy         2450              928            474
10         steal a brainrot         1031              928            214
11                     nico          990              816            254
12            minecraft mod          959              813            258
13                   aphmau          953              810            295
14            nico and cash          888              772            222
15                 fortnite         1242              719            393
16          minecraft funny          799              689            277
17           minecraft mods          727              610            270
18                     game         1255              606            435
19     roblox funny moments          675              591            211
20                challenge         1782              561            458
21                  trailer         1258              542            420
22                   johnny          562              525            212
23                    techy          556              521            190
24                   horror          860              520            387
25                   casino          586              505            196
26                   maizen          654              500            265
27                    games          996              491            408
28             kid friendly          646              490            248
29             roblox funny          552              486            201
30              no swearing          810              475            372
31                      new          830              474            363
32                las vegas          544              471            226
33                  jackpot          485              465            186
34                   twitch          780              429            399
35                 streamer          502              419            263
36                 gambling          485              418            178
37                   lyrics          829              409            313
38             slot machine          440              407            179
39                   foltyn          612              406            287
40                     live          788              406            373
41  roblox steal a brainrot          435              398            172
42                     dash          418              397            196
43                    music         1218              394            431
44                   stream          524              391            267
45          crazy fan girls          421              389            191
46                 reaction          864              389            395
47        roblox brookhaven          403              389            192
48                techyblox          405              385            187
49               let's play          443              378            223

In [13]:
q("""
WITH base AS (
  SELECT video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
tags AS (
  SELECT lower(trim(regexp_replace(regexp_replace(tag,'^#+',''),'^"|"$',''))) AS tag
  FROM base,
  UNNEST(string_split(replace(video_tags, '|', ','), ',')) AS t(tag)
  WHERE trim(tag) <> ''
)
SELECT
  count(*) AS total_tags,
  count(DISTINCT tag) AS unique_tags,
  round(100.0 * avg(CASE WHEN length(tag) >= 40 THEN 1 ELSE 0 END), 2) AS pct_len_ge_40,
  round(100.0 * avg(CASE WHEN tag LIKE '%http%' THEN 1 ELSE 0 END), 4) AS pct_has_http,
  round(100.0 * avg(CASE WHEN tag LIKE '%@%' THEN 1 ELSE 0 END), 4) AS pct_has_at,
  round(100.0 * avg(CASE WHEN position(' ' IN tag) > 0 THEN 1 ELSE 0 END), 2) AS pct_has_spaces
FROM tags
WHERE tag <> '';
""")

,total_tags,unique_tags,pct_len_ge_40,pct_has_http,pct_has_at,pct_has_spaces
0,1295012,139865,0.97,0.0001,0.0022,62.56

This creates a US tag event view and then aggregates by month.

In [14]:
# 1) Create a US tag-event view (exploded tags)
q("""
CREATE OR REPLACE TEMP VIEW v_us_tag_events AS
WITH base AS (
  SELECT video_id, video_trending_date, video_tags
  FROM trending
  WHERE video_trending_country='United States'
    AND video_tags IS NOT NULL
    AND trim(video_tags) <> ''
    AND lower(trim(video_tags)) NOT IN ('[none]','none','nan','null')
),
exploded AS (
  SELECT
    video_id,
    video_trending_date,
    date_trunc('month', video_trending_date) AS month,
    lower(trim(
      regexp_replace(
        regexp_replace(tag, '^#+', ''),   -- drop leading hashtags
        '^"|"$', ''                      -- drop surrounding quotes
      )
    )) AS tag
  FROM base,
  UNNEST(string_split(replace(video_tags, '|', ','), ',')) AS t(tag)
  WHERE trim(tag) <> ''
)
SELECT *
FROM exploded
WHERE tag <> '';
""")

# sanity
q("SELECT count(*) AS rows, count(DISTINCT tag) AS unique_tags FROM v_us_tag_events;")

      rows  unique_tags
0  1295012       139865

Now aggregate:

In [17]:
# 2) Monthly tag counts + share of videos that month
monthly = q("""
WITH month_total AS (
  SELECT month, count(DISTINCT video_id) AS total_videos
  FROM v_us_tag_events
  GROUP BY 1
),
tag_month AS (
  SELECT
    month,
    tag,
    count(*) AS tag_appearances,
    count(DISTINCT video_id) AS distinct_videos
  FROM v_us_tag_events
  GROUP BY 1,2
)
SELECT
  tm.month,
  tm.tag,
  tm.distinct_videos,
  tm.tag_appearances,
  mt.total_videos,
  round(1.0 * tm.distinct_videos / mt.total_videos, 6) AS video_share
FROM tag_month tm
JOIN month_total mt USING (month)
ORDER BY tm.month DESC, tm.distinct_videos DESC
LIMIT 50;
""")
monthly

,month,tag,distinct_videos,tag_appearances,total_videos,video_share
0,2026-01-01,roblox,573,645,3743,0.153086
1,2026-01-01,funny,395,451,3743,0.105530
2,2026-01-01,gaming,353,416,3743,0.094309
3,2026-01-01,minecraft,294,402,3743,0.078547
4,2026-01-01,gameplay,212,242,3743,0.056639
5,2026-01-01,funny moments,190,239,3743,0.050761
6,2026-01-01,cash,140,159,3743,0.037403
7,2026-01-01,comedy,130,153,3743,0.034731
8,2026-01-01,steal a brainrot,123,133,3743,0.032861
9,2026-01-01,family friendly,118,141,3743,0.031526
10,2026-01-01,nico and cash,109,124,3743,0.029121
11,2026-01-01,minecraft mod,105,120,3743,0.028052
12,2026-01-01,roblox funny,102,116,3743,0.027251
13,2026-01-01,new,99,107,3743,0.026449
14,2026-01-01,techy,99,110,3743,0.026449
15,2026-01-01,minecraft funny,97,106,3743,0.025915
16,2026-01-01,roblox funny moments,96,116,3743,0.025648
17,2026-01-01,game,91,115,3743,0.024312
18,2026-01-01,twitch,90,99,3743,0.024045
19,2026-01-01,games,89,100,3743,0.023778
20,2026-01-01,nico,86,103,3743,0.022976
21,2026-01-01,roblox brookhaven,85,90,3743,0.022709
22,2026-01-01,stream,83,94,3743,0.022175
23,2026-01-01,streamer,83,88,3743,0.022175
24,2026-01-01,cash and nico,82,112,3743,0.021908
25,2026-01-01,dash,79,86,3743,0.021106
26,2026-01-01,fortnite,79,86,3743,0.021106
27,2026-01-01,marvel,77,101,3743,0.020572
28,2026-01-01,casino,77,98,3743,0.020572
29,2026-01-01,techyblox,77,81,3743,0.020572
30,2026-01-01,minecraft mods,76,86,3743,0.020305
31,2026-01-01,let's play,75,84,3743,0.020037
32,2026-01-01,brookhaven,74,81,3743,0.019770
33,2026-01-01,trailer,72,96,3743,0.019236
34,2026-01-01,live,71,77,3743,0.018969
35,2026-01-01,horror,71,90,3743,0.018969
36,2026-01-01,no swearing,71,90,3743,0.018969
37,2026-01-01,jackpot,70,75,3743,0.018702
38,2026-01-01,roblox roleplay,69,78,3743,0.018434
39,2026-01-01,crazy fan girls,69,75,3743,0.018434
40,2026-01-01,roblox obby,68,75,3743,0.018167
41,2026-01-01,aphmau,66,73,3743,0.017633
42,2026-01-01,minecraft challenge,65,79,3743,0.017366
43,2026-01-01,warzone,65,66,3743,0.017366
44,2026-01-01,update,65,69,3743,0.017366
45,2026-01-01,las vegas,64,74,3743,0.017099
46,2026-01-01,foltyn,62,73,3743,0.016564
47,2026-01-01,arc raiders,62,70,3743,0.016564
48,2026-01-01,crazy fan girl,61,64,3743,0.016297
49,2026-01-01,my crazy fan girls,61,64,3743,0.016297

B) Find ‚Äúrising tags‚Äù (month-over-month growth)

This is the most compelling ‚Äútrend shift‚Äù story.

In [16]:
rising = q("""
WITH month_total AS (
  SELECT month, count(DISTINCT video_id) AS total_videos
  FROM v_us_tag_events
  GROUP BY 1
),
tag_month AS (
  SELECT
    month,
    tag,
    count(DISTINCT video_id) AS distinct_videos
  FROM v_us_tag_events
  GROUP BY 1,2
),
tag_share AS (
  SELECT
    tm.month,
    tm.tag,
    tm.distinct_videos,
    mt.total_videos,
    1.0 * tm.distinct_videos / mt.total_videos AS share
  FROM tag_month tm
  JOIN month_total mt USING (month)
),
paired AS (
  SELECT
    a.month AS month,
    a.tag,
    a.share AS share_now,
    b.share AS share_prev,
    (a.share - b.share) AS delta,
    CASE WHEN b.share IS NULL OR b.share = 0 THEN NULL ELSE (a.share / b.share) END AS lift
  FROM tag_share a
  LEFT JOIN tag_share b
    ON a.tag = b.tag
   AND b.month = a.month - INTERVAL '1 month'
)
SELECT *
FROM paired
WHERE share_prev IS NOT NULL
  AND share_now >= 0.002   -- avoid tiny-noise tags, tune later
ORDER BY delta DESC
LIMIT 30;
""")
rising

,month,tag,share_now,share_prev,delta,lift
0,2025-07-01,roblox,0.125700,0.028798,0.096901,4.364815
1,2025-07-01,minecraft,0.081425,0.025819,0.055606,3.153650
2,2025-08-01,roblox,0.172119,0.125700,0.046419,1.369285
3,2025-07-01,cash,0.041730,0.002979,0.038751,14.007464
4,2025-07-01,gaming,0.051908,0.013903,0.038006,3.733697
5,2025-01-01,news,0.061438,0.023839,0.037599,2.577159
6,2025-08-01,gaming,0.082536,0.051908,0.030628,1.590041
7,2025-07-01,funny moments,0.033079,0.004965,0.028114,6.662087
8,2025-08-01,gameplay,0.060644,0.033588,0.027056,1.805543
9,2025-07-01,aphmau,0.027990,0.001986,0.026004,14.092875
10,2025-07-01,nico,0.026972,0.000993,0.025979,27.160814
11,2024-12-01,blox fruits,0.026349,0.002090,0.024259,12.607905
12,2025-07-01,minecraft funny,0.023919,0.000993,0.022926,24.086005
13,2025-07-01,fortnite,0.025445,0.002979,0.022466,8.541137
14,2025-08-01,minecraft,0.103171,0.081425,0.021746,1.267064
15,2025-06-01,roblox,0.028798,0.007107,0.021692,4.052348
16,2025-08-01,cash,0.062657,0.041730,0.020927,1.501482
17,2024-12-01,blox fruit,0.022585,0.002090,0.020495,10.806775
18,2026-01-01,roblox,0.153086,0.133260,0.019826,1.148773
19,2025-09-01,roblox,0.191489,0.172119,0.019371,1.112542
20,2025-09-01,steal a brainrot,0.051980,0.032964,0.019015,1.576845
21,2025-05-01,highlights,0.047716,0.029379,0.018337,1.624170
22,2025-10-01,battlefield 6,0.019583,0.001347,0.018236,14.542025
23,2025-01-01,nfl,0.037908,0.020075,0.017833,1.888317
24,2025-08-01,nico,0.044540,0.026972,0.017567,1.651323
25,2025-07-01,roblox funny moments,0.018321,0.000993,0.017328,18.448855
26,2025-07-01,funny,0.068702,0.051639,0.017064,1.330446
27,2024-12-01,roblox,0.026349,0.009404,0.016944,2.801757
28,2025-07-01,steal a brainrot,0.017812,0.000993,0.016819,17.936387
29,2025-12-01,marvel,0.025500,0.008691,0.016809,2.934093