In [2]:
from pathlib import Path
import duckdb
import pandas as pd

REPO_ROOT = Path(r"C:\Dev\youtube-trending-app")  # adjust if needed
DB_PATH = REPO_ROOT / "data" / "processed" / "trending.duckdb"

con = duckdb.connect(str(DB_PATH), read_only=True)

def q(sql, params=None):
    return con.execute(sql, params or []).df()

q("SELECT 1 AS ok")

   ok
0   1

In [13]:
import pandas as pd

pd.set_option("display.max_columns", None)      # show all columns
pd.set_option("display.width", 200)             # wider output
pd.set_option("display.max_colwidth", 80)       # limit long text so it doesn't explode
pd.set_option("display.expand_frame_repr", False)

In [5]:
q("""
SELECT
  count(*) AS rows,
  count(DISTINCT video_id) AS distinct_videos,
  count(DISTINCT channel_id) AS distinct_channels,
  count(DISTINCT video_trending_country) AS countries,
  min(video_trending_date) AS min_date,
  max(video_trending_date) AS max_date
FROM trending
WHERE video_trending_date IS NOT NULL;
""")

,rows,distinct_videos,distinct_channels,countries,min_date,max_date
0,7614272,692565,100419,110,2024-10-12,2026-01-31

Top 20 countries by volume

In [6]:
q("""
SELECT video_trending_country, count(*) AS rows
FROM trending
WHERE video_trending_date IS NOT NULL
GROUP BY 1
ORDER BY rows DESC
LIMIT 20;
""")

   video_trending_country   rows
0                 Austria  94796
1                   Japan  94794
2             South Korea  94793
3                  Mexico  94792
4               Australia  94792
5                  Canada  94790
6                 Germany  94790
7                  Brazil  94790
8          United Kingdom  94787
9           United States  94787
10       Papua New Guinea  94786
11                 France  94779
12              Argentina  94764
13              Indonesia  94637
14                   Peru  94540
15                  Chile  94518
16                Algeria  94495
17               Colombia  94407
18                Ecuador  93987
19                Morocco  92819

Date range per country (uses your view)

In [7]:
q("""
SELECT *
FROM v_available_dates
ORDER BY rows DESC
LIMIT 20;
""")

   video_trending_country   min_date   max_date   rows
0                 Austria 2024-10-12 2026-01-31  94796
1                   Japan 2024-10-12 2026-01-31  94794
2             South Korea 2024-10-12 2026-01-31  94793
3                  Mexico 2024-10-12 2026-01-31  94792
4               Australia 2024-10-12 2026-01-31  94792
5                  Brazil 2024-10-12 2026-01-31  94790
6                  Canada 2024-10-12 2026-01-31  94790
7                 Germany 2024-10-12 2026-01-31  94790
8          United Kingdom 2024-10-12 2026-01-31  94787
9           United States 2024-10-12 2026-01-31  94787
10       Papua New Guinea 2024-10-12 2026-01-31  94786
11                 France 2024-10-12 2026-01-31  94779
12              Argentina 2024-10-12 2026-01-31  94764
13              Indonesia 2024-10-12 2026-01-31  94637
14                   Peru 2024-10-12 2026-01-31  94540
15                  Chile 2024-10-12 2026-01-31  94518
16                Algeria 2024-10-12 2026-01-31  94495
17               Colombia 2024-10-12 2026-01-31  94407
18                Ecuador 2024-10-12 2026-01-31  93987
19                Morocco 2024-10-12 2026-01-31  92819

Cell 5 ‚Äî Missingness snapshot (important fields)

In [8]:
q("""
SELECT
  round(100.0 * avg(CAST(video_tags IS NULL AS INT)), 2) AS pct_video_tags_null,
  round(100.0 * avg(CAST(video_description IS NULL AS INT)), 2) AS pct_video_desc_null,
  round(100.0 * avg(CAST(channel_country IS NULL AS INT)), 2) AS pct_channel_country_null,
  round(100.0 * avg(CAST(video_like_count IS NULL AS INT)), 2) AS pct_like_null,
  round(100.0 * avg(CAST(video_comment_count IS NULL AS INT)), 2) AS pct_comment_null
FROM trending;
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,pct_video_tags_null,pct_video_desc_null,pct_channel_country_null,pct_like_null,pct_comment_null
0,27.7,9.79,17.8,0.95,0.58

In [9]:
q("""
SELECT
  count(*) AS rows,
  sum(CAST(video_trending_date IS NULL AS INT)) AS null_trending_date_rows
FROM trending;
""")

      rows  null_trending_date_rows
0  7614272                      0.0

Find countries that have any NULL dates (data corruption check)

In [3]:
q("""SELECT video_trending_country, count(*) AS rows
FROM trending
WHERE video_trending_date IS NULL
GROUP BY 1
ORDER BY rows DESC;
""")

Empty DataFrame
Columns: [video_trending_country, rows]
Index: []

How many columns? What are the column names?

In [10]:
q("PRAGMA table_info('trending');")

,cid,name,type,notnull,dflt_value,pk
0,0,video_id,VARCHAR,False,None,False
1,1,video_published_at,TIMESTAMP WITH TIME ZONE,False,None,False
2,2,video_trending_date,DATE,False,None,False
3,3,video_trending_country,VARCHAR,False,None,False
4,4,channel_id,VARCHAR,False,None,False
5,5,video_title,VARCHAR,False,None,False
6,6,video_description,VARCHAR,False,None,False
7,7,video_default_thumbnail,VARCHAR,False,None,False
8,8,video_category_id,INTEGER,False,None,False
9,9,video_tags,VARCHAR,False,None,False
10,10,video_duration,VARCHAR,False,None,False
11,11,video_dimension,VARCHAR,False,None,False
12,12,video_definition,VARCHAR,False,None,False
13,13,video_licensed_content,VARCHAR,False,None,False
14,14,video_view_count,BIGINT,False,None,False
15,15,video_like_count,BIGINT,False,None,False
16,16,video_comment_count,BIGINT,False,None,False
17,17,channel_title,VARCHAR,False,None,False
18,18,channel_description,VARCHAR,False,None,False
19,19,channel_custom_url,VARCHAR,False,None,False
20,20,channel_published_at,TIMESTAMP WITH TIME ZONE,False,None,False
21,21,channel_country,VARCHAR,False,None,False
22,22,channel_view_count,BIGINT,False,None,False
23,23,channel_subscriber_count,BIGINT,False,None,False
24,24,channel_have_hidden_subscribers,BOOLEAN,False,None,False
25,25,channel_video_count,BIGINT,False,None,False
26,26,channel_localized_title,VARCHAR,False,None,False
27,27,channel_localized_description,VARCHAR,False,None,False

In [14]:
q("""
SELECT *
FROM trending
LIMIT 5;
""")

      video_id        video_published_at video_trending_date video_trending_country                channel_id                                                                      video_title                                                                video_description                         video_default_thumbnail  video_category_id                                                                       video_tags video_duration video_dimension video_definition video_licensed_content  video_view_count  video_like_count  video_comment_count            channel_title                                                              channel_description          channel_custom_url             channel_published_at channel_country  channel_view_count  channel_subscriber_count  channel_have_hidden_subscribers  channel_video_count  channel_localized_title                                                    channel_localized_description
0  bB3-CUMERIU 2024-10-10 20:00:06-04:00          2024-10-12   United Arab Emirates  UCNYi_zGmR519r5gYdOKLTjQ                                           JENNIE - Mantra (Official Music Video)  Official music video for ‚ÄúMantra‚Äù by JENNIE out now: https://jennie.lnk.to/m...  https://i.ytimg.com/vi/bB3-CUMERIU/default.jpg               <NA>  JENNIE,Mantra,Ï†úÎãà,Jennie Mantra,Jennie from Blackpink,Blackpink,dance,dancer,...        PT2M28S              2d               hd                  False          20535235           2042255               152933                   JENNIE                                                                              NaN             @jennierubyjane 2021-01-13 01:19:55.866890-05:00             NaN           464615150                  11600000                            False                   43                   JENNIE                                                                              NaN
1  5ObJt_71AYc 2024-10-10 22:59:21-04:00          2024-10-12   United Arab Emirates  UCzU8-lZlRfkV3nj0RzAZdrQ         CHILE vs. BRASIL [1-2] | RESUMEN | ELIMINATORIAS SUDAMERICANAS | FECHA 9  #Chile #Brasil #eliminatoriassudamericanas #CreeEnGrande #CONMEBOL \n\n‚≠êüáßüá∑ V...  https://i.ytimg.com/vi/5ObJt_71AYc/default.jpg               <NA>  f√∫tbol,pelota,gol,copa,libertadores,sudamericana,eliminatorias,mundial,conme...        PT10M8S              2d               hd                   True           3966042              <NA>                 2549                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...                   @conmebol        2014-02-19 15:24:31-05:00             NaN           399046746                   1610000                            False                 4637                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...
2  zfb0whgBBA8 2024-10-11 07:07:25-04:00          2024-10-12   United Arab Emirates  UCgGYPnVJytkr6sVNLQ-l0zQ                                          ÿ™ÿ≠ÿØŸä ÿßŸÑÿ≠ŸÇŸäÿ®ÿ© ŸÖÿπ ÿßÿ®Ÿà ÿπÿ®Ÿäÿ± üî• | ÿ≥ŸÑÿ≥ŸÑÿ™ŸÜÿß #2  1,375,547 ŸÖÿ¥ÿ™ÿ±ŸÉ‚ù§Ô∏è\n\nŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄŸÄ...  https://i.ytimg.com/vi/zfb0whgBBA8/default.jpg               <NA>  ÿ™ÿ¥ŸÉŸäŸÑŸá,ŸÅŸäŸÅÿß,ŸÅŸäŸÅÿß20,ÿßŸÑÿ™ŸÖÿ™,ÿØÿ±ÿßŸÅÿ™,ÿ≤ŸÑÿßÿ™ÿßŸÜ,ÿßŸÖ,ÿ¨Ÿä,ŸÖŸÑÿ™Ÿä,ÿ¨ŸäŸÖÿ±ÿ≤,ŸÑÿßÿ™ŸäŸÜŸä,ÿ™ÿ±ÿßŸÖÿ®,ŸÉŸàÿ±ÿ©,ŸÇÿØŸÖ...       PT43M24S              2d               hd                   True            853167            101155                10541             LLE ÿπÿ®ÿØÿßŸÑÿßŸÑŸá                                           ÿµÿßŸÜÿπ ŸÖÿ≠ÿ™ŸàŸâ ŸàÿßŸÜÿ≤ŸÑ ŸÖŸÇÿßÿ∑ÿπ ÿ®ÿ¥ŸÉŸÑ ÿ∫Ÿäÿ± ŸÖŸÜÿ∏ŸÖ üåö                    @mrlle99        2012-08-01 12:24:26-04:00    Saudi Arabia           114331110                   1380000                            False                  314             LLE ÿπÿ®ÿØÿßŸÑÿßŸÑŸá                                           ÿµÿßŸÜÿπ ŸÖÿ≠ÿ™ŸàŸâ ŸàÿßŸÜÿ≤ŸÑ ŸÖŸÇÿßÿ∑ÿπ ÿ®ÿ¥ŸÉŸÑ ÿ∫Ÿäÿ± ŸÖŸÜÿ∏ŸÖ üåö
3  SJfoPdeOPCQ 2024-10-10 20:10:10-04:00          2024-10-12   United Arab Emirates  UCzU8-lZlRfkV3nj0RzAZdrQ  VENEZUELA vs. ARGENTINA [1-1] | RESUMEN | ELIMINATORIAS SUDAMERICANAS | FECHA 9  #Venezuela #Argentina #eliminatoriassudamericanas #CreeEnGrande #CONMEBOL \n...  https://i.ytimg.com/vi/SJfoPdeOPCQ/default.jpg               <NA>  f√∫tbol,pelota,gol,copa,libertadores,sudamericana,eliminatorias,mundial,conme...        PT10M9S              2d               hd                   True           3758707              <NA>                 3115                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...                   @conmebol        2014-02-19 15:24:31-05:00             NaN           399046746                   1610000                            False                 4637                 CONMEBOL  Canal Oficial de la Confederaci√≥n Sudamericana de F√∫tbol. #CreeEnGrande | Ca...
4  UVb6QOKy0bI 2024-10-09 08:30:27-04:00          2024-10-12   United Arab Emirates  UCOzubmwpVZI7gD0Jf7Bk3Aw  Bougainvillea Trailer | October 17 | Jyothirmayi | Kunchacko Boban | Amal Ne...  Presenting The Official Trailer of Bougainvillea Directed by Amal Neerad\n\n...  https://i.ytimg.com/vi/UVb6QOKy0bI/default.jpg               <NA>                                                                              NaN        PT2M12S              2d               hd                   True           1730189             67522                 2869  Amal Neerad Productions                            Official YouTube Channel Of Amal Neerad Productions .  @amalneeradproductions5264        2017-05-31 10:31:01-04:00             NaN            19991522                     40600                            False                   56  Amal Neerad Productions                            Official YouTube Channel Of Amal Neerad Productions .

Daily volume sanity (should be ~200/day/country)

In [15]:
q("""
SELECT video_trending_country, video_trending_date, count(*) AS rows_that_day
FROM trending
GROUP BY 1,2
ORDER BY rows_that_day DESC
LIMIT 20;
""")

   video_trending_country video_trending_date  rows_that_day
0                  Brazil          2025-02-06            200
1                Colombia          2025-02-10            200
2                 Algeria          2025-05-02            200
3                Colombia          2025-02-08            200
4               Australia          2025-04-28            200
5                 Morocco          2025-02-07            200
6                 Austria          2025-05-02            200
7                Colombia          2025-02-11            200
8                 Bolivia          2025-05-01            200
9                Colombia          2025-02-12            200
10          United States          2025-05-02            200
11                   Peru          2025-02-05            200
12                 Brazil          2025-02-09            200
13                 Canada          2025-02-07            200
14                  Japan          2025-05-02            200
15              Argentina          2025-02-05            200
16           Saudi Arabia          2025-04-30            200
17              Indonesia          2025-02-09            200
18                  Chile          2025-05-01            200
19              Australia          2025-05-04            200

Days trended‚Äù distribution (stickiness)

In [16]:
q("""
WITH per_video_country AS (
  SELECT video_id, video_trending_country, count(DISTINCT video_trending_date) AS days_trended
  FROM trending
  GROUP BY 1,2
)
SELECT
  approx_quantile(days_trended, 0.50) AS p50,
  approx_quantile(days_trended, 0.90) AS p90,
  approx_quantile(days_trended, 0.99) AS p99,
  max(days_trended) AS max_days
FROM per_video_country;
""")

   p50  p90  p99  max_days
0    2   13   34        37

Global reach (how many countries a video trends in)

In [17]:
q("""
WITH per_video AS (
  SELECT video_id, count(DISTINCT video_trending_country) AS countries
  FROM trending
  GROUP BY 1
)
SELECT
  approx_quantile(countries, 0.50) AS p50,
  approx_quantile(countries, 0.90) AS p90,
  approx_quantile(countries, 0.99) AS p99,
  max(countries) AS max_countries
FROM per_video;
""")

   p50  p90  p99  max_countries
0    1    5   18            108

find the ‚Äúmost global‚Äù videos

In [18]:
q("""
SELECT
  video_id,
  max(video_title) AS video_title,
  max(channel_title) AS channel_title,
  count(DISTINCT video_trending_country) AS countries
FROM trending
GROUP BY 1
ORDER BY countries DESC
LIMIT 20;
""")

       video_id                                                      video_title      channel_title  countries
0   XRgOPWisuog                                            EXTREME SHARK GAME!!!              Sylex        108
1   CgCVZdcKcqY                                       BLACKPINK - ‚ÄòÎõ∞Ïñ¥(JUMP)‚Äô M/V          BLACKPINK        108
2   zs7ISrSdVUI   Ellie Goulding - Love Me Like You Do (Lyrics Cover) | Pop Mage           Pop Mage        106
3   k2hXVxvZP7E        REAL MADRID 2 - 1 FC BARCELONA | RESUMEN LALIGA EA SPORTS   LALIGA EA SPORTS        106
4   zPbrkmdcTfo                1000 Players Simulate Civilization: Boys vs Girls     MrBeast Gaming        105
5   zEzyD5oszwM                                       skibidi toilet 79 (part 2)       DaFuq!?Boom!        105
6   DWCl2dN6hpg                                             1 Pro vs 500 Hunters     MrBeast Gaming        105
7   npNmyb-qqGw                                  Survive 1000 Days, Win $100,000     MrBeast Gaming        104
8   NED7nev2ywQ                                           Stray Kids "Do It" M/V  JYP Entertainment        103
9   qTMKHZelGAs                                   We Built New York In Minecraft     MrBeast Gaming        102
10  Ntp522Cad-s               REAL MADRID 0 - 2 CELTA | RESUMEN LALIGA EA SPORTS   LALIGA EA SPORTS        102
11  d-BDeU3R5ic                THE GAME AWARDS 2025: Official 4K60FPS Livestream      thegameawards        101
12  BeaVJggQ2dc                          Race Highlights | 2025 Qatar Grand Prix          FORMULA 1        101
13  pe_ejTiIcSs                                      Lose 100 LBs, Win $250,000!            MrBeast        101
14  1Vg00spYj2g                        100 Youtubers Vs World's Deadliest Player     MrBeast Gaming        101
15  2FE7pOBbRn8                                    We Built America in Minecraft     MrBeast Gaming        100
16  Aja2KfuoqGA      Jake Paul vs. Mike Tyson FIGHT HIGHLIGHTS ü•ä | ESPN Ringside               ESPN        100
17  P7vBoGWoReg                                        Stray Kids "CEREMONY" M/V  JYP Entertainment        100
18  JIRqdeNl2cU                          Race Highlights | 2025 Dutch Grand Prix          FORMULA 1         99
19  RYI-WG_HFV8  JUJUTSU KAISEN The Culling Game | Official Teaser | Crunchyroll        Crunchyroll         99

stickiest in a country

In [20]:
q("""
WITH pvc AS (
  SELECT
    video_id,
    video_trending_country,
    count(DISTINCT video_trending_date) AS days_trended
  FROM trending
  GROUP BY 1,2
)
SELECT
  pvc.video_trending_country,
  pvc.video_id,
  ANY_VALUE(t.video_title) AS video_title,
  ANY_VALUE(t.channel_title) AS channel_title,
  pvc.days_trended
FROM pvc
JOIN trending t
  ON t.video_id = pvc.video_id
 AND t.video_trending_country = pvc.video_trending_country
GROUP BY
  pvc.video_trending_country,
  pvc.video_id,
  pvc.days_trended
ORDER BY pvc.days_trended DESC
LIMIT 20;
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

   video_trending_country     video_id                                                                      video_title                      channel_title  days_trended
0                 Romania  b1cXgCFOiaE                     Tzanca Uraganu ‚ùå Costel Biju - Meneaito [video oficial] 2025                     Tzanca Uraganu            37
1               Hong Kong  Ox29z5Nf1Uk  [#2024MAMA] G-DRAGON - Î¨¥Ï†ú(Untitled, 2014)+POWER+HOME SWEET HOME+Î±ÖÎ±ÖÎ±Ö+FANTASTI...                         Mnet K-POP            37
2                   Egypt  Nern2ReRazc                                              ÿ™ÿ≠ÿØŸä ÿßÿ≠ÿ≤ÿ± ÿßŸÑÿ™Ÿàÿ£ŸÖ ÿßŸÑÿ≠ŸÇŸäŸÇŸäü§îŸÖÿπ ÿßŸÑÿ™ŸàŸäŸÜÿ≤                   TRIPLEZ - ÿ™ÿ±Ÿäÿ®ŸÑÿ≤            37
3            Saudi Arabia  rA3-rEdQ8Wo                                              24 ÿ≥ÿßÿπŸá ÿ®ÿØŸàŸÜ ÿ¨ŸàÿßŸÑ üìµ( ÿ£ÿ®Ÿáÿß ÿßŸÑÿ®ŸáŸäŸá üòç)                               RAED            37
4                 Bolivia  9fQ0tP6aOks                                         ¬°LE VOY A DAR UNA SORPRESA A MI FAMILIA!                           SKabeche            37
5      Dominican Republic  vWRmfW9VMAU          Modificamos el SUPRA de R√°pidos y Furiosos en 24 HORAS | Kenyi Nakamura                     Kenyi Nakamura            37
6                    Peru  P4YLOdr6e7U              BLESSD X NACIONAL OFICIAL | HIMNO DE LA GRANDEZA üíöü§ç (VIDEO OFICIAL)                BLESSD EL BENDITO üíô            37
7                 Iceland  x-I8ZHfwV9Q                                           I Spent $10,000 Buying Expensive Games                          LazarBeam            37
8      Dominican Republic  cY8B1wWtRm8                                DONATY x BRAULIO FOGON - TAMBOREO (VIDEO OFICIAL)                             Donaty            37
9                  Panama  ueaIQkxrAmY                               ROBANDO COCHES del CHAVO del 8 en GTA 5! üöòüß¢ (Mods)                     E-MasterSensei            37
10              Lithuania  cZgUiR31m-Y                                                sombr - 12 to 12 (official video)                              sombr            37
11               Zimbabwe  s7h68f6CFNg                         Prince Chigwida - Ndiringei Mambo [Official Music Video]                    Prince Chigwida            37
12                  Ghana  zr8XVbDiFsk                      Tommy Lee Sparta , Trippie Redd - Murderer (Official Video)                 TommyLeeSpartaVEVO            37
13            New Zealand  J3LkpLD_GAQ            Duniya (Official Video) - Sikandar X Gulab Sidhu | Punjabi Songs 2025                       Humble Music            37
14               Slovakia  TvVtYaqCni8                 LE SSERAFIM (Î•¥ÏÑ∏ÎùºÌïå) 'SPAGHETTI (feat. j-hope of BTS)' OFFICIAL MV                        HYBE LABELS            37
15                 Jordan  PssKpzB0Ah0                                   Stranger Things 5 | Official Trailer | Netflix                            Netflix            37
16                Tunisia  BPJNuMnES4c                              Simba La Rue - PICASSO feat. 3robi (Official Video)                       Simba La Rue            37
17                 Jordan  5cm7RDTVs0Q                                                                  ÿßÿ¥ÿ™ŸÇÿ™ ŸÑÿ¨ÿØÿ™Ÿä !!!  The wonder roby (‚Ä´ÿ±Ÿàÿ®Ÿä ÿßŸÑÿÆÿßÿ±ŸÇŸá‚Ä¨‚Äé)            37
18                Ireland  Llss1aRo8tw  Karuppu (Tamil) - Teaser | Suriya | RJB | Trisha | @SaiAbhyankkar | Dream Wa...                  Think Music India            37
19            Puerto Rico  auNp1LpGrLI                                                        MRSTIVEN VS 33 MUJERES ‚ù§Ô∏è                            lebriah            37